
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.request-button {
  padding: 5px;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.download-button {
  padding: 5px;
  position: absolute;
  bottom: 2rem;
  right: 7rem;
}

.radius {
  padding: 5px;
  position: absolute;
  bottom: calc(50% - 300px);
  right: calc(50% - 300px);
  border-radius: 50%;
  width: 600px;
  height: 600px;
  border: solid 2px black;
  transform: rotateX(60deg);

}

.radius p {
  text-align: center;
  margin: calc(50% - 20px);
  color: blue;
}